.tile {
    position: relative;
    background-color: var(--light-gray-1);
    display: flex;
    padding: 1.5rem 1rem;
    margin-bottom: 2rem;
    min-width: 20rem;
    width: 100%;
    border-radius: var(--border-radius);
}

.tile:not(.tile__selected):hover {
    background-color: var(--light-gray-2);
}

.avatar-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.avatar {
    margin: auto;
}

.online-dot {
    width: .7rem;
    height: .7rem;
    position: absolute;
    top: 25%;
    right: 25%;
    background-color: var(--green);
    border-radius: 999px;
}

.tile__selected {
    background-color: var(--primary-color);
    color: white;
}

.tile__selected .name {
    color: white;
}

.tile__selected .avatar {
    background-color: var(--primary-color-darken);
}

.tile__selected .badge--read path {
    stroke: white;
}

.infos-container {
    display: flex;
    flex: 2;
    gap: .4rem;
    flex-direction: column;
    justify-content: space-between;
}

.infos {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name {
    font-weight: 900;
    font-size: 1.1rem;
    color: var(--dark);
}

.date {
    font-size: small;
}

.badge {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: .4rem;
    bottom: .4rem;
    width: 1.3rem;
    height: 1.3rem;
}

.badge--count {
    border-radius: 999px;
    font-weight: bold;
    color: white;
    background-color: var(--green);
}
