.message-wrapper {
    position: relative;
}

.message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .3rem;
    margin-bottom: 1rem;
}

.message-wrapper:not(:has(+ .message-wrapper)) .content {
    border-bottom-left-radius: calc(var(--border-radius)/3);
}

.content {
    border-radius: var(--border-radius);
    padding: var(--message-box-padding);
    background-color: white;
}

.time {
    margin-left: 1.5rem;
}

.avatar {
    display: none;
}

@media screen and (min-width: 768px) {
    .avatar {
        display: block;
        position: absolute;
        left: -3rem;
        bottom: 2rem;
    }
}