.bar {
    position: fixed;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
    background-color: white;
    box-shadow: 5px 0 10px var(--light-gray-2);
}

.profile {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.avatar {
    width: 3rem;
    height: 3rem;
}

.name {
    color: var(--dark);
    font-weight: 900;
    font-size: 1rem;
}

.actions {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.actions {
    color: var(--light-gray-3);
}

.actions a {
    padding: .3rem;
    border-radius: 4px;
    transition: all 200ms ease-in;
}

.actions a:hover {

    color: var(--dark);
    scale: 1.4;
}

@media screen and (min-width: 768px) {
    .bar {
        position: relative;
        box-shadow: none;
        padding-top: 0;
        margin-bottom: 1rem;
    }

    .avatar {
        width: 3.5rem;
        height: 3.5rem;
        margin-left: 2rem;
    }

    .name {
        font-size: 1.4rem;
    }

    .actions {
        gap: 2.5rem;
    }
}